Santander_Product_Recommendation/test_ver2.csv
Santander_Product_Recommendation/test_ver2.csv.zip
Santander_Product_Recommendation/train_ver2.csv
Santander_Product_Recommendation/train_ver2.csv.zip
Santander_Product_Recommendation/train.feather
Santander_Product_Recommendation/train1.feather
Santander_Product_Recommendation/train10.feather
data_source/bank_products/train.feather
data_source/bank_products/recommender_data.pkl
